@charset "utf-8";

@font-face {
  font-family: "akira";
  src: url("../fonts/Akira\ Expanded\ Demo.otf");
}
@font-face {
  font-family: "thin";
  src: url("../fonts/Paperlogy-1Thin.ttf");
}
@font-face {
  font-family: "extralight";
  src: url("../fonts/Paperlogy-2ExtraLight.ttf");
}
@font-face {
  font-family: "light";
  src: url("../fonts/Paperlogy-3Light.ttf");
}
@font-face {
  font-family: "regular";
  src: url("../fonts/Paperlogy-4Regular.ttf");
}
@font-face {
  font-family: "medium";
  src: url("../fonts/Paperlogy-5Medium.ttf");
}
@font-face {
  font-family: "semibold";
  src: url("../fonts/Paperlogy-6SemiBold.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/Paperlogy-7Bold.ttf");
}
@font-face {
  font-family: "extrabold";
  src: url("../fonts/Paperlogy-8ExtraBold.ttf");
}
@font-face {
  font-family: "black";
  src: url("../fonts/Paperlogy-9Black.ttf");
}

/* ----------- */

@media screen and (max-width: 425px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  /* ---------------------- */
  body {
    width: 100%;
    min-height: 100%;
  }
  .container {
    height: 100vh;
    margin: 0 2rem;
  }
}
